@CHARSET "ISO-8859-1";

body {
	background-color: #000000;
	background-image: url('../images/bg-space.jpeg');
	background-repeat: repeat-x;
	color: #ffffff;
	height: 100%;
	font-family: Helvetica;
}

.login {
	color: #ffffff !important;
}

#loading {
	display: block;
	width: 100%;
	text-align: center;
}

#loader {
	line-height: 30px;
}

#loader span {
	color: #ffffff;
	text-shadow: 0px 0px 15px #ff00ff, 0px 0px 12px #ff00ff, 0px 0px 10px #ff00ff;
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bolder;
}

#loader img {
	
}

.welcome {
	text-align: justify; 
	text-justify: newspaper
}